---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import SignupForm from '../components/SignupForm.astro';

const seo = {
  title: 'Ali Web Developer',
  description: 'Hi there! I\'m Ali, a full-stack web developer with expertise in JavaScript, React, and Node.js. Currently, I am pursuing a Bachelor\'s degree in Computer Science from MNS University of Engineering and Technology, Multan, and I\'m also working as a freelance web developer.',
  image: 'programming-bold.svg',
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h1 class="fade-in">Coming Soon</h1>
      <p class="fade-in">Be the first to know when our new site is live!</p>
      <SignupForm />
    </article>
  </Container>
</Layout>

